<!--内容开始-->
<section class="content content_main">
    <!---->
    <div class="row boot-col-space15">
        <div class="col-sm-12 col-xs-12">
            <div class="row boot-col-space15">

                <!--系统信息开始-->
                <div class="col-sm-12 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <i class="fa fa-gear"></i>
                            <h3 class="box-title">系统信息</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-striped">
                                <tr>
                                    <td>网站域名</td>
                                    <td>{$config.url}</td>
                                </tr>
                                <tr>
                                    <td>网站目录</td>
                                    <td>{$config.document_root}</td>
                                </tr>
                                <tr>
                                    <td>服务器操作系统</td>
                                    <td>{$config.server_os}</td>
                                </tr>
                                <tr>
                                    <td>服务器端口</td>
                                    <td>{$config.server_port}</td>
                                </tr>
                                <tr>
                                    <td>服务器IP</td>
                                    <td>{$config.server_ip}</td>
                                </tr>
                                <tr>
                                    <td>WEB运行环境</td>
                                    <td>{$config.server_soft}</td>
                                </tr>
                                <tr>
                                    <td>MySQL数据库版本</td>
                                    <td>{$config.mysql_version}</td>
                                </tr>
                                <tr>
                                    <td>运行PHP版本</td>
                                    <td>{$config.php_version}</td>
                                </tr>
                                <tr>
                                    <td>最大上传限制</td>
                                    <td>{$config.max_upload_size}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!--系统信息结束-->
        </div>

    </div>
    <!---->
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!--内容结束-->

